[Unit]
Description=Twice-daily CristexWeb Reactive Resume DEV backup schedule

[Timer]
OnCalendar=*-*-* 00,12:15:00 UTC
RandomizedDelaySec=0
Persistent=true
AccuracySec=1m
Unit=cristexweb-reactive-resume-dev-backup.service

[Install]
WantedBy=timers.target
