[Unit]
Description=Daily CristexWeb Keycloak PostgreSQL backup schedule

[Timer]
OnCalendar=*-*-* 03:15:00
RandomizedDelaySec=15m
Persistent=true
AccuracySec=1m
Unit=cristexweb-postgresql-keycloak-backup.service

[Install]
WantedBy=timers.target
