[defaults]
inventory = inventory/hosts.yml
roles_path = roles
action_plugins = plugins/action
collections_path = .ansible/collections
fact_caching = memory
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent
display_args_to_stdout = False

[privilege_escalation]
become = False
